/* signup.css */

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}


