 
.navbar {
    /* topmost passun cha distance adjust karayla */
    width: 100%;
    padding: 50px;
    /* margin:0;
    margin-bottom: 900px; */
    position: absolute;
    top: 0px;
    height: 100px;
    display: flex;
    /* display: block; */
    align-items: center;
    /*The navbar chya khalchi line */
    position: sticky;
    /* background-color: #CD5F3A; */
    font-size: 20px;
    z-index: 999;
  
  }
  
  .links {
    /* home,blogs and about us  */
    width: 100%;
    padding-bottom: 0.25rem;
    /* display: inline-block; */
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    color:#CD5F3A;
  /* right passun home and newblog chi padding */
    padding: 6px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .navbar a:hover {
    /* anchor tag var hover karun color change hoil */
    color: #0000FF;
  }

  .logo{
   size: 120%;
    }

 

