.waves {
  position: fixed; /* Fixed positioning to stick to the viewport */
  top: 0; /* Align to the top */
  right: 0; /* Stick to the rightmost of the screen */
}

.title{
  margin-top: 300px;
}


.navbar-links {
  position: absolute;
  margin-top: -170px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
margin-right: -30px;
  
}
  
  .navbar-links a {
   
    text-decoration: none;
    color:#000080;  
    font-family: "Kaisei Decol", serif;
    font-weight: 700;
    font-size: 30px;
    font-style: bold;
    }

  .navbar a:hover {
    /* anchor tag var hover karun color change hoil */
    /* color: #0000FF; */
    text-decoration: none;
  }

  .logo{
   size: 120%;
    }

 

