.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize
}

.image-container img {
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.container1 {
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center; /* Center items horizontally */
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.author {
  font-style: italic; /* Style author name differently */
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
