
.top {
  display: flex;
  flex-direction: row;
}
 
.head{
  display: flex;
}
.tit{
  margin-left: 300px;
  margin-top: 550px;
    font-size: 75px;
}

.header{
  background-color: #FA7070;
  width:1200px;
  height: 400px;
  margin-top: 50px;
  margin-left: -10px;
  border-radius: 15px;

  font-family: "Galada", cursive;


}



.desp{
  font-size: 30px;
  width: 600px;
position:absolute;
margin-left: 150px;
margin-top: 100px;
}

.three{
  position: absolute;
  margin-left: 880px;
}

.features{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  padding: 40px;
}

.kidztube{
  background-color: #FEFDED;
}
.legaltrivia{
  background-color: #A1C398;
}
.squests{
  background-color: #C6EBC5;
}
.blogs{
  background-color: #FA7070;
}


.legaltrivia,
.blogs,
.squests,
.kidztube
{
  border-radius: 15px;
  margin-left: 50px;
  height: 200px;
  width: 400px;
  margin-bottom: 50px;
  transition: transform 0.3s ease;
}

.footer{
  background-color: #FEFDED;
  width:1423px;
  display: flex;
}
 .imag{
  width: 200px;
 }
.couple{
  margin-right: 1000px;
  margin-top: -200px;
}
.quote{
  margin-left: 200px;
  margin-right: 400px;
}
.media{
  margin-left: 200px;
}
.kidztube:hover,

.legaltrivia:hover,

.squests:hover,

.blogs:hover 

{
  transform: translateX(-10px) translateY(-10px); /* Move the element to the left and up */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  
}

.cov{
  width: 150px;
  margin-left: -200px;
  margin-top: 30px;
  position: absolute;
}

.tit{
  margin-left: 200px;
  position:absolute;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Galada", cursive;
}

.content{
  position:absolute;
  font-family: "Crimson Text", serif;
  width: 220px;
  margin-left: 170px;
  margin-top:60px;
  font-size: 20px;
}

ul {
  display: flex;
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  /* margin: 0 10px; */
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  /* left: 0; */
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.logo{
  /* position:fixed; */
  align-items: start;
  margin-right: 1100px;
  margin-top: 30px;
  font-size: 50px;
  font-family: "Galada", cursive;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.quote
{
  margin-top: 30px;
  margin-left: 200px;
  font-size: 30px;
  font-family: "Galada", cursive;
  color: black;
  text-decoration: none;
}