.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute items along the main axis with space between */
  align-items: center; /* Align items vertically */
}

.p title {
  font-size: 500px;
  margin-left: 250px; /* Adjust margin as needed */
  margin-top: 50px;
}

.bgimg{
  margin-left: 420px;
}
.girl {
  height: 550px;
  margin-right: 50px; /* Adjust margin as needed */
  margin-top: 20px;
}

.aboutUs {
  margin-top: 20px;
}
.wave {
  width: 100%;
}

.wave2 {
  width: 100%;
  margin-top: -5px;
}
.blogs {
  display: flex;
  margin-top: 60px;
  width: 40%;
  padding-left: 20px;
}

.randomshape {
  width: 100px;
}

.blog_page {
  display: flex;
}
.blog_title {
  margin-bottom: -40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.waves{
  margin-right: 0px;
}
