.home{
    display: flex;
    flex-direction: row;
}
.title{
    font-size: 100px;
    margin-left: 500px;
    margin-top: 50px;
    font-style: bold;
}
.girl{
    position: absolute;
    height: 550px;
    margin-left: 80px;
    top: 30; /* Align the image to the top of its containing element */
    left: 0; /* Align the image to the left of its containing element */
    margin-top: 20px;
  
}
.aboutUs{
    margin-top: 20px;
}
.wave{
    width:100%;
}