.option1.clicked{
    background-color: #555;
}

.ques h1 {
    margin-top: 50px;
    color: #333; /* Change the color as desired */
    font-family: Arial, sans-serif; /* Change the font family as desired */
    font-size: 24px; /* Change the font size as desired */
  }
  
.option{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#op1,
#op2,
#op3 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  #op1:hover,
  #op2:hover,
  #submit:hover,
  #op3:hover {
    background-color: black;
    color: white;
    
  }

#submit{
    width:40%;
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px;  
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline */
    font-size: 16px; /* Font size */
    margin: 50px 2px; /* Margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 4px; /* Add rounded corners */
}

#submit:hover {
  background-color: #45a049; /* Darker green on hover */
}