/* import { useState } from "react"; */
.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App h1{
  font-weight: 25px;
  color: #fff;
}

.Menu {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  /* border: none; */
  border-radius: 5px;
  font-size: 20px;
  text-decoration: #222;
}

#nextQuestion{
  background: #001e4d;
  color:#fff;
  font-weight: 500;
  width:150px;
  border:0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor:pointer;
  /* temporarily hide karun tevtay */
  /* display:none;  */
}
button{
  background:#fff;
  color:#222;
  font-weight: 500;
  width: 100%;
  border:ipx solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

button:hover {
  background:#222 ;
  color: #fff;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startquiz {
  width:auto;
}
#nextQuestion {
  width: 200px;
  text-align: center;
}

#Ques{
  color:#001e4d;
}

h3 {
  color: #ffffff;

}




/* edited from here */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;

}
/* body{
  background-color: #f2f2f2;
} */
.heading{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: centre;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}
.container{
  width:90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
}
.about-image{
  /* width: 50%;
  height: 50%; */
  size: 50%;
  /* flex: 1; */
  margin-right:40px;
  overflow: hidden;
}
.about-image img{
  max-width: 30%;
  /* height: auto; */
  /* display: block; */
  transition: 0.5s ease;
  display: cover;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex:1;
  flex-direction: column;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color:#666;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
