.a{
    background:#fff;
    color:#222;
    font-weight: 500;
    width: 100%;
    border:ipx solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
  }
  
.a:hover {
    background:#222 ;
    color: #fff;
  }